services:
  db:
    image: postgis/postgis:15-3.4
    container_name: postgis_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d geodb"]
      interval: 3s
      timeout: 3s
      retries: 3

  api:
    build: .
    container_name: webgis_api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
     db:
      condition: service_healthy
volumes:
  pgdata: